@{
    ViewData["Title"] = "Users Notebook";
    string[] TableHeaders = new string[]
    {
        "ID",
        "Name",
        "Surname",
        "Date",
        "Sex",
        "Phone Number",
        "Job"
    };
}

<div class="table">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                @{
                    foreach (var head in TableHeaders)
                    {
                        <th>
                         @head
                        </th>
                    }
                  }
            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null)
                {
                    foreach (var Data in Model)
                    {
                        <tr>
                            <td>
                                @Data.ID
                            </td>
                            <td>
                                <a style="color:inherit; text-decoration: none; cursor: text;" href="@Url.Action("FormStart", "Home", new { data = Data.ID })">@Data.Name</a>
                            </td>
                            <td>
                                <a style="color:inherit; text-decoration: none; cursor: text;" href="@Url.Action("FormStart", "Home", new { data = Data.ID })">@Data.Surname</a>
                            </td>
                            <td>
                                @Data.Date.Substring(0,10)
                            </td>
                            <td>
                                @Data.Sex
                            </td>
                            <td>
                                @Data.PhoneNumber
                            <td>
                                @Data.Job
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>

<div>
    <a href="@Url.Action("FormStart", "Home", new { data = 0 })">
        <button class="btn btn-primary">New User</button>
    </a>
    <a asp-action="GenerateReport" class="btn btn-primary">Generate Report</a>
</div>

